.main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.card {
    word-wrap: break-word;
    background: #1b222d;
    border-radius: 5px;
    margin-block-end: 1rem;
    width: 23%;
    padding: 10px;
}
.card-header{
    border-start-start-radius: 7px ;
    border-start-end-radius: 7px ;
    padding: 10px;

}
.card-title {
    font-weight: 700;
    color: #e8e2e2;
    text-transform: uppercase;
    font-size: 14px;
}
.card-body {
    color: #e8e2e2;
    padding: 8px
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.badge{
    padding-inline-start: 0.25rem;
    padding-inline-end: 0.25rem;
    border-radius: 0.125rem;
    font-weight: bold;
    text-transform: none;
    background: #F2CD5C;
    color: #243763 ;
}
.col {
    max-width: 100%;
    width: 100%;
    padding-inline-end: 0.75rem;
    padding-inline-start: 0.75rem;
    flex: 1 0 0%;
}
.text-center {
    text-align: center;
}
.score-bg {
    background-color: #151b2470;
    margin-bottom: 8px;
    flex: 1;
    padding-top:12px;
}
.mg-right{
    margin-right: 8px;
}

.tx-12 {
    font-size: 12px;
}

.fw-bold {
    font-weight: bold;
}
/* Media query for tablet view */
@media only screen and (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
    }
}

/* Media query for mobile view */
@media only screen and (max-width: 500px) {
    .card {
        width: 100%;
    }
}