.pagination-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-button {
  border-radius: 6px;
  text-decoration: none;
  width: 80px;
  font-size: 1.1rem;
  text-align: center;
  line-height: 40px;
  color: #fff;
  padding: 0 12px;
  background-color: #363844;
}
.pagination-button:hover {
  background-color: #4B4E5F;
  color: #fff;
  cursor: pointer;
}
.disabled-button{
  opacity: 0.3;
  pointer-events: none;
}